body {
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.leftside {
  display: flex;
}

.nav-wrapper > .leftside > div {
  margin-right: 20px;
  font-size: 1.2em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper1 {
  height: 22px;
  border-bottom: 1px solid black;
}

.nav-link-wrapper1 a {
  color: black;
  text-decoration: none;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

/* About Me*/

.subtitle2 {
  color: #808080;
  font-size: 1.5em;
  text-transform: uppercase;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-right: 2em;
  padding-bottom: 0.5em;
}
.about-me {
  background-color: #ffffff;
  color: #808080;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}
.about {
  align-content: center;
  flex-direction: column;
}
.description {
  font-size: 20px;
}
.title {
  text-align: center;
  padding-bottom: 2em;
  font-size: xx-large;
}
.education {
  display: flexbox;
  flex-direction: column;
  margin: 0 auto;
}
.schools {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
}
.school {
  display: flex;
  flex-direction: row;
}

.school_image_left {
  height: 20%;
  width: 20%;
  padding-right: 1em;
  padding-left: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}
