body {
  margin-top: 0%;
  background-color: #F8F8FF;
  background-color: white;

  display:flex;
  flex-direction: column;
}
hr{
  width:90%;
}
#nav-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 3%;
  padding: 2%;
}

.leftside {
  display: flex;
  flex-basis:80%;
}


.rightside {
  flex-basis: 20%;
}

#nav-wrapper > .leftside > div {
  margin-right: 20px;
  font-size: 1.2em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper1 {
  height: 22px;
  border-bottom: 1px solid black;
}

.nav-link-wrapper1 a {
  color: black;
  text-decoration: none;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

/*portfolio styles*/

#home-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-item-wrapper {
  order: 1;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:5%;
  margin-bottom:3%;
}

.subtitle1 {
  color: #585858;
  font-size: 3em;
  text-transform: uppercase;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-right: 2em;
  padding-bottom: 0.5em;
  border-top: 2px solid #585858;
  border-bottom: 2px solid #585858;
}

.subtitle2 {
  color: #808080;
  font-size: 1.5em;
  text-transform: uppercase;
  padding-top: 0.5em;
}

.icon-items-wrapper {
  order:2;  
  margin-bottom: 5%;
}

.icon {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.icon a img{
  margin: 5px 15px;
  width: 50px;
  height: auto;
}
/* About Me*/
.about-me {
  color: #808080;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
} 

.description {
  font-size: 20px;
  margin-left:10%;
  margin-right:10%;
}

.title {
  text-align: center;
  padding-bottom: 0.5em;
  font-size: xx-large;
}
.education {
  display: flex;
  flex-direction: row;

}
#schools {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

#courses{
  flex-basis: 50%;
}

#courses li{
  text-align: left;
  
}

#courses h1{
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#courses h3{
  text-align: left;
  padding-left: 2%;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.school {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.school_image {
  width: 200px;
  height:200px;
}
#courses{
  margin-top: 0%;
  text-align: center;
}
/*work experience*/

#wexperience{
  margin-bottom: 5%;
}
.timeline{
  display:grid;
  grid-template-columns: repeat(3,1fr );
  grid-template-areas: 
  "a a b"
  "c d d";
  align-items: center;
  row-gap: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.content-right{
  grid-area:a;
}

.image-left{
  grid-area:b;
  width: 200px;
  align-items: center;
}

.image-right{
  grid-area:c;
  align-items: center;
  width: 200px;
}

.content-left{
  grid-area:d;
}

/* Mobile usage*/

@media(max-width:1100px){
  .education{
    flex-direction: column  ;
  }
  .subtitle1{
    text-align: center;
  }
  #schools{
    flex-basis: 100%;
    margin-bottom: 50px;
  }
  #courses{
    flex-basis: 100%;
  }
  .icon{
    width: 30px;
  }
}

@media(max-width:1300px){
  .description{
    margin-left: 5%;
    margin-right: 5%;

  }

  .timeline{
    margin-left: 5%;
    margin-right: 5%;
  }
}

